<!-- _includes/ads-component.html -->
<div class="ad-unit">
  <!-- Google AdSense Ad Unit -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="your-ad-client-id"
       data-ad-slot="your-ad-slot"
       data-ad-format="auto"
       data-full-width-responsive="true">Hello</ins>
  <!-- <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script> -->

  <script type="text/javascript">
	atOptions = {
		'key' : '5376769a7a324a408a88ef32cec45f06',
		'format' : 'iframe',
		'height' : 600,
		'width' : 160,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/5376769a7a324a408a88ef32cec45f06/invoke.js"></script>
</div>


