<!-- Text Tools Section -->
 <!-- Bottom Ad -->
<div class="ad-section">
    <div>{% include ads-component-bellow.html %}</div>
</div>
<section class="content-box text-tools" id="online-text-tools">
  <h2 class="sub_headings">Online Text Tools</h2>
  <p class="sub_text">Easily edit, format, clean, and analyze your text online with our free tools. Convert case, remove
    line breaks, replace words, clean formatting, and check word frequency—all in one place.</p>
  <div class="tools-grid">
    <a href="{{ '/online-case-converter-change-text-to-upper-lower-title-case/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-fonts"></i></div>
      <span>Case Convert</span>
    </a>
    <a href="{{ '/text-replacement-tool-find-and-replace-text-online/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-arrow-left-right"></i></div>
      <span>Text Replacement</span>
    </a>
    <a href="{{ '/plain-text-converter-remove-formatting-clean-text-online/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-file-text"></i></div>
      <span>Plain Text Converter</span>
    </a>
    <a href="{{ '/remove-line-breaks-online-clean-text-tool-instant/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-text-paragraph"></i></div>
      <span>Remove Line Breaks</span>
    </a>
    <a href="{{ '/word-frequency-counter-analyze-text-word-usage/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-123"></i></div>
      <span>Word Frequency Counter</span>
    </a>
    <a href="{{ '/text-formatting-removal-tool/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-eraser"></i></div>
      <span>Text Formatting Removal</span>
    </a>
    <a href="{{ '/online-notepad-free-text-editor-for-notes/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-journal-text"></i></div>
      <span>Online Notepad</span>
    </a>

    <a href="{{ '/reverse-text-generator-flip-reverse-text-online/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-arrow-counterclockwise"></i></div>
      <span>Reverse Text</span>
    </a>

    <a href="{{ 'aesthetic-text-generator-create-stylish-text-for-social-media' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-type"></i></div>
      <span>Aesthetic Text Generator</span>
    </a>

    <a href="{{ 'ascii-art-generator-convert-images-to-text-art-online' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-code-slash"></i></div>
      <span>ASCII Art Generator</span>
    </a>

    <a href="{{ 'online-alphabetizer-text-tool-sort-a-z-z-a-remove-duplicates' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-filter"></i></div>
      <span>Alphabetizer Text</span>
    </a>

    <a href="{{ 'online-big-text-generator-create-ascii-art-large-text' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-fonts"></i></div>
      <span>Big Text </span>
    </a>

    <a href="{{ 'online-morse-code-translator-convert-text-to-morse-code' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-soundwave"></i></div>
      <span>Morse Text </span>
    </a>

    <a href="{{ 'online-zalgo-glitch-text-generator-create-corrupted-text' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-bug"></i></div>
      <span>Morse Code Translator</span>
    </a>

    <a href="{{ 'online-phonetic-spelling-generator-convert-text-to-phonetic-alphabet' | relative_url }}"
      class="icon_sty">
      <div class="icon_placeholder"><i class="bi-alphabet-uppercase"></i></div>
      <span>Phonetic Spelling Generator</span>
    </a>

    <a href="{{ 'remove-extra-spaces-whitespace-online-whitespace-remover-tool' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-backspace"></i></div>
      <span>Whitespace / Extra Space Remover</span>
    </a>

    <a href="{{ 'pig-latin-translator-online-english-to-pig-latin-converter' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-translate"></i></div>
      <span>Pig Latin Translator</span>
    </a>

    <a href="{{ 'stacked-vertical-text-generator-online-vertical-text-creator' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-distribute-vertical"></i></div>
      <span>Stacked / Vertical Text</span>
    </a>

    <a href="{{ 'url-encode-decode-online-url-encoderdecoder-tool' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-link-45deg"></i></div>
      <span>URL Encode & Decode</span>
    </a>

    <a href="{{ 'base64-encoder-decoder-online-base64-converter-tool' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-lock"></i></div>
      <span>Base64 Encoder & Decoder</span>
    </a>

    <a href="{{ 'text-to-handwriting-converter-convert-digital-text-to-realistic-handwriting' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-pen"></i></div>
      <span>Text to Handwriting Converter</span>
    </a>

    <a href="{{ 'online-spelling-and-grammar-checker-check-text-for-errors' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-file-text"></i></div>
      <span>Spelling and Grammar Checker</span>
    </a>

    <a href="{{ 'online-rewording-tool-paraphraser-rephrase-text-instantly' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-arrow-repeat"></i></div>
      <span>Text Rewording / Paraphrasing</span>
    </a>
  </div>
</section>
<!-- Bottom Ad -->
<div class="ad-section">
    <div>{% include ads-component-bellow.html %}</div>
</div>
<!-- Code & Data Formatter Tools Section -->
<section class="content-box code-tools" id="code-&-data-formatter-tools">
  <h2 class="sub_headings">Code & Data Formatter Tools</h2>
  <p class="sub_text">Format, beautify, and clean your code online with our free code and data formatter tools. Supports
    JSON, XML, SQL, HTML, and more—make your code readable and organized instantly.</p>
  <div class="tools-grid">
    <a href="{{ '/online-xml-formatter-format-validate-beautify/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-filetype-xml"></i></div>
      <span>Beautify XML Formatter</span>
    </a>
    <a href="{{ '/online-html-beautifier-formatter/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-code-slash"></i></div>
      <span>Beautify HTML Formatter</span>
    </a>
    <a href="{{ '/online-css-beautifier-formatter/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-braces"></i></div>
      <span>Beautify CSS Formatter</span>
    </a>
    <a href="{{ '/online-javascript-beautifier-formatter/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-filetype-js"></i></div>
      <span>Beautify JavaScript Formatter</span>
    </a>
    <a href="{{ '/online-json-beautifier-formatter/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-filetype-json"></i></div>
      <span>Beautify JSON Formatter</span>
    </a>
    <a href="{{ '/online-php-beautifier-formatter/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-filetype-php"></i></div>
      <span>Beautify PHP Formatter</span>
    </a>
    <a href="{{ '/online-sql-beautifier-formatter/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-database"></i></div>
      <span>Beautify SQL Formatter</span>
    </a>
  </div>
</section>
<!-- Bottom Ad -->
<div class="ad-section">
    <div>{% include ads-component-bellow.html %}</div>
</div>
<!-- Domain & Network Tools -->
<section class="content-box image-tools" id="domain-&-network-tools">
  <h2 class="sub_headings">Domain & Network Tools</h2>
  <p class="sub_text">Check, analyze, and monitor your domain, website, and email setup with our free online tools.
    Validate DNS, SPF, DKIM, DMARC, TLS, IP, domain expiry, blacklist, and more—all in one place.</p>
  <div class="tools-grid">
    <a href="{{ '/online-website-availability-checker/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-check-circle"></i></div>
      <span>Website Availability Check</span>
    </a>
    <a href="{{ '/online-ping-test-tool/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-lightning-charge"></i></div>
      <span>Ping Website or Webserver</span>
    </a>
    <a href="{{ '/find-ip-address-free-online-ip-lookup-tool/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-hdd-network"></i></div>
      <span>Find IP Address</span>
    </a>
    <a href="{{ '/find-location-of-your-domain-free-website-location-finder/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-search"></i></div>
      <span>Find Location Domain</span>
    </a>
    <a href="{{ '/whois-lookup-free-domain-information-lookup-tool/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-link-45deg"></i></div>
      <span>Whois Lookup</span>
    </a>
    <a href="{{ '/internet-speed-test-check-your-download-upload-speed/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-speedometer"></i></div>
      <span>Internet Speed Test</span>
    </a>
  </div>
</section>
<!-- Bottom Ad -->
<div class="ad-section">
    <div>{% include ads-component-bellow.html %}</div>
</div>
<!-- Website SEO & Performance Tools -->
<section class="content-box management-tools" >
  <h2 class="sub_headings">Website SEO & Performance Tools</h2>
  <p class="sub_text">Test and improve your website with our free SEO and performance tools. Check site speed,
    mobile-friendliness, backlinks, and run a full SEO audit to optimize your rankings.</p>
  <div class="tools-grid">
    <a href="{{ 'slugify-url-generator-create-seo-friendly-urls-permalinks' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-hash"></i></div>
      <span>Slugify URL or Permalinks Link generator </span>
    </a>
    <a href="{{ 'page-speed-test-analyze-website-performance' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-speedometer2"></i></div>
      <span>Page Speed Test</span>
    </a>
    <a href="{{ 'web-page-size-checker-analyze-website-file-size' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-file-earmark-text"></i></div>
      <span>Website File Size Checker</span>
    </a>
    <a href="{{ 'website-page-snooper-view-and-copy-html-code-from-any-website' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-terminal"></i></div>
      <span>Website Page Snooper</span>
    </a>
     <a href="{{ 'meta-tag-generator-create-seo-meta-tags-instantly' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-tags"></i></div>
      <span>Meta Tag Generator</span>
    </a>
    <a href="{{ 'robotstxt-generator-create-robotstxt-file-instantly' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi-filetype-txt"></i></div>
      <span>Robot TXT Generator</span>
    </a>
    <a href="{{ 'xml-sitemap-generator-create-sitemap-for-your-website' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi-sitemap"></i></div>
      <span>XML Sitemap Generator</span>
    </a>
  </div>
</section>

<!-- Bottom Ad -->
<div class=" ad-section">
    <div>{% include ads-component-bellow.html %}</div>
</div>

<!-- Online Calculator Tools -->
<section class="content-box text-tools" id="online-calculator-tools">
  <h2 class="sub_headings">Online Calculator Tools</h2>
  <p class="sub_text">Easily edit, format, clean, and analyze your text online with our free tools. Convert case, remove
    line breaks, replace words, clean formatting, and check word frequency—all in one place.</p>
  <div class="tools-grid">
    <a href="{{ 'sleep-debt-calculator-track-and-calculate-your-sleep-deficit' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-alarm"></i></div>
      <span>Sleep Debt Calculator</span>
    </a>

     <a href="{{ 'sleep-cycle-calculator-calculate-your-optimal-bedtime-wake-up-time' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi-cloud-moon"></i></div>
      <span>Sleep Cycle Calculator</span>
    </a>

     <a href="{{ 'water-intake-calculator-calculate-your-daily-hydration-needs' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-droplet-fill"></i></div>
      <span>Water Intake Calculator</span>
    </a>

    <a href="{{ 'carbon-footprint-calculator-calculate-your-co-emissions' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi-recycle"></i></div>
      <span>Carbon Footprint Calculator</span>
    </a>

      <a href="{{ 'mobile-data-usage-calculator-calculate-your-monthly-data-needs' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi-phone-fill"></i></div>
      <span>Mobile Data Usage Calculator</span>
    </a>

     <a href="{{ 'body-water-percentage-calculator-calculate-your-body-water-percentage' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi-droplet-fill"></i></div>
      <span>Body Water Percentage Calculator</span>
    </a>

     <a href="{{ 'study-time-vs-exam-score-calculator' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-stopwatch"></i></div>
      <span>Study Time vs Exam Score Calculator</span>
    </a>

    <a href="{{ 'social-media-time-wastage-calculator' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-phone"></i></div>
      <span>Social Media Time Wastage Calculator</span>
    </a>

    <a href="{{ 'language-learning-progress-calculator' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-translate"></i></div>
      <span>Language Learning Progress Calculator</span>
    </a>

    <a href="{{ 'travel-carbon-offset-calculator' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-airplane"></i></div>
      <span>Travel Carbon Offset Calculator</span>
    </a>

     <a href="{{ 'currency-converter-international-local' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-currency-exchange"></i></div>
      <span>Currency Converter</span>
    </a>

     <a href="{{ 'online-age-calculator' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-calculator"></i></div>
      <span>Online Age Calculator</span>
    </a>

     <a href="{{ 'percentage-calculator' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-percent"></i></div>
      <span>Percentage Calculator</span>
    </a>

     <a href="{{ 'date-calculator-calculate-dates-addsubtract-days-online' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-calendar-check"></i></div>
      <span>Date Calculator</span>
    </a>

     <a href="{{ 'time-calculator-calculate-time-addsubtract-time-online' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-calculator"></i></div>
      <span>Time Calculator</span>
    </a>

     <a href="{{ 'hours-calculator-calculate-hours-work-time-timesheet-online' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-clock-history"></i></div>
      <span>Hours Calculator</span>
    </a>

     <a href="{{ 'average-calculator-calculate-mean-median-mode-online' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-bullseye"></i></div>
      <span>Average Calculator</span>
    </a>

     <a href="{{ 'confidence-interval-calculator-calculate-statistical-intervals-online' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-lightbulb"></i></div>
      <span>Confidence Interval Calculator</span>
    </a>

    <a href="{{ 'sleep-calculator-find-your-perfect-bedtime' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-bed"></i></div>
      <span>Sleep Calculator</span>
    </a>
  </div>
</section>


<!-- Bottom Ad -->
<div class="ad-section">
    <div>{% include ads-component-bellow.html %}</div>
</div>
<!-- Website SEO & Performance Tools -->
<section class="content-box management-tools" >
  <h2 class="sub_headings">Business Calculator</h2>
  <p class="sub_text">Free business calculator for pricing, GST, marketplace fees, profit margin, shipping and seller payout calculations for Flipkart, Amazon and eCommerce businesses.</p>
  <div class="tools-grid">
    <a href="{{ 'flipkart-fee-calculator-calculate-profit-seller-payout' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-truck"></i></div>
      <span>Flipkart Fee Calculator</span>
    </a>

    <a href="{{ 'amazon-seller-price-calculator-fees-profit' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-shop"></i></div>
      <span>Amazon Seller Price Calculator  </span>
    </a>

    <a href="{{ 'amazon-fba-calculator-estimate-profits-fees-in-inr' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-cash-stack"></i></div>
      <span>Amazon FBA Calculator</span>
    </a>

    <a href="{{ 'meesho-price-calculator-estimate-selling-price-profit' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-cart-check"></i></div>
      <span>Meesho Price Calculator</span>
    </a>

     <a href="{{ 'jiomart-price-calculator-estimate-selling-price-profit' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi-graph-up-arrow"></i></div>
      <span>Jiomart Price Calculator</span>
    </a>

    <a href="{{ 'ebay-price-calculator-estimate-selling-price-profit' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi-currency-rupee"></i></div>
      <span>eBay Price Calculator</span>
    </a>
</section>

<!-- Bottom Ad -->
<div class="ad-section">
    <div>{% include ads-component-bellow.html %}</div>
</div>
<!-- Online PDF Tools -->
<section class="content-box code-tools" id="online-pdf-tools">
  <h2 class="sub_headings">Online PDF Tools</h2>
 <p class="sub_text">Explore our free online PDF tools to easily merge, split, compress, convert, and edit PDF files in seconds. Simple, fast, and secure—manage all your PDF documents online without installing any software.</p>
  <div class="tools-grid">
    <a href="{{ '/free-online-pdf-merger-combine-multiple-pdf-files-into-one/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-collection"></i></div>
      <span>Merge Multiple PDF</span>
    </a>

     <a href="{{ '/free-online-pdf-splitter-split-pdf-files-into-multiple-documents/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-scissors"></i></div>
      <span>PDF Splitter</span>
    </a>

    <a href="{{ '/free-online-pdf-cropper-crop-pdf-pages-precisely/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-crop"></i></div>
      <span>PDF Crop</span>
    </a>

      <a href="{{ '/online-pdf-resizer-resize-pdf-pages-to-different-paper-sizes/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-aspect-ratio"></i></div>
      <span>PDF Resizer</span>
    </a>

    <a href="{{ '/online-pdf-compressor-reduce-pdf-file-size/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-file-earmark-zip"></i></div>
      <span>PDF Compressor</span>
    </a>

     <a href="{{ '/online-pdf-rotator-rotate-pdf-pages/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-arrow-clockwise"></i></div>
      <span>PDF Rotator</span>
    </a>

      <a href="{{ '/online-pdf-converter-convert-pdf-to-image-formats/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-arrow-right"></i></div>
      <span>PDF to Images Convert</span>
    </a>

    <a href="{{ '/online-image-to-pdf-converter-convert-jpg-png-tiff-to-pdf/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-file-earmark-pdf"></i></div>
      <span>Images to PDF Convert</span>
    </a>

     <a href="{{ '/free-online-pdf-word-excel-converter/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi-arrow-repeat"></i></div>
      <span>File to PDF Convert</span>
    </a>

      <a href="{{ '/pdf-to-word-ocr-converter/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi-arrow-repeat"></i></div>
      <span>PDF OCR</span>
    </a>
  </div>
</section>
</div>