<!-- Text Tools Section -->
<div class="content-box text-tools">
  <h2 class="sub_headings">Online Text Tools</h2>
  <p class="sub_text">Easily edit, format, clean, and analyze your text online with our free tools. Convert case, remove line breaks, replace words, clean formatting, and check word frequency—all in one place.</p>
  <div class="tools-grid">
    <a href="{{ '/online-case-converter-change-text-to-upper-lower-title-case/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-fonts"></i></div>
      <span>Case Convert</span>
    </a>
    <a href="{{ '/text-replacement-tool-find-and-replace-text-online/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-arrow-left-right"></i></div>
      <span>Text Replacement</span>
    </a>
    <a href="{{ '/plain-text-converter-remove-formatting-clean-text-online/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-file-text"></i></div>
      <span>Plain Text Converter</span>
    </a>
    <a href="{{ '/remove-line-breaks-online-clean-text-tool-instant/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-text-paragraph"></i></div>
      <span>Remove Line Breaks</span>
    </a>
     <a href="{{ '/word-frequency-counter-analyze-text-word-usage/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-123"></i></div>
      <span>Word Frequency Counter</span>
    </a>
     <a href="{{ '/text-formatting-removal-tool/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-eraser"></i></div>
      <span>Text Formatting Removal</span>
    </a>
     <a href="{{ '/online-notepad-free-text-editor-for-notes/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-journal-text"></i></div>
      <span>Online Notepad</span>
    </a>

     <a href="{{ '/reverse-text-generator-flip-reverse-text-online/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-arrow-counterclockwise"></i></div>
      <span>Reverse Text</span>
    </a>

      <a href="{{ 'free-aesthetic-text-generator-create-stylish-fancy-fonts-online' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-type"></i></div>
      <span>Aesthetic Text Generator</span>
    </a>
  </div>
</div>
<!-- Bottom Ad -->
<div class="ad-section" style="visibility:hidden;">
  <div>Google Ad (Section)</div>
</div>
<!-- Code & Data Formatter Tools Section -->
<div class="content-box code-tools">
  <h2 class="sub_headings">Code & Data Formatter Tools</h2>
  <p class="sub_text">Format, beautify, and clean your code online with our free code and data formatter tools. Supports JSON, XML, SQL, HTML, and more—make your code readable and organized instantly.</p>
  <div class="tools-grid">
    <a href="{{ '/online-xml-formatter-format-validate-beautify/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-filetype-xml"></i></div>
      <span>Beautify XML Formatter</span>
    </a>
    <a href="{{ '/online-html-beautifier-formatter/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-code-slash"></i></div>
      <span>Beautify HTML Formatter</span>
    </a>
    <a href="{{ '/online-css-beautifier-formatter/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-braces"></i></div>
      <span>Beautify CSS Formatter</span>
    </a>
    <a href="{{ '/online-javascript-beautifier-formatter/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-filetype-js"></i></div>
      <span>Beautify JavaScript Formatter</span>
    </a>
     <a href="{{ '/online-json-beautifier-formatter/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-filetype-json"></i></div>
      <span>Beautify JSON Formatter</span>
    </a>
    <a href="{{ '/online-php-beautifier-formatter/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-filetype-php"></i></div>
      <span>Beautify PHP Formatter</span>
    </a>
    <a href="{{ '/online-sql-beautifier-formatter/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-database"></i></div>
      <span>Beautify SQL Formatter</span>
    </a>
    <a href="{{ '/online-compiler-python-r-sql-c-cpp-csharp-typescript-scala-dart-ruby-go-swift-rust/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-terminal"></i></div>
      <span>Online-Compiler</span>
    </a>
  </div>
</div>
<!-- Bottom Ad -->
<div class="ad-section" style="visibility:hidden;">
  <div>Google Ad (Section)</div>
</div>
<!-- Image Tools Section -->
<div class="content-box image-tools">
  <h2 class="sub_headings">Domain & Network Tools</h2>
  <p class="sub_text">Check, analyze, and monitor your domain, website, and email setup with our free online tools. Validate DNS, SPF, DKIM, DMARC, TLS, IP, domain expiry, blacklist, and more—all in one place.</p>
  <div class="tools-grid">
    <a href="{{ '/online-website-availability-checker/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-check-circle"></i></div>
      <span>Website Availability Check</span>
    </a>
    <a href="{{ '/online-ping-test-tool/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-lightning-charge"></i></div>
      <span>Ping Website or Webserver</span>
    </a>
    <a href="{{ '/find-ip-address-free-online-ip-lookup-tool/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-hdd-network"></i></div>
      <span>Find IP Address</span>
    </a>
    <a href="{{ '/find-location-of-your-domain-free-website-location-finder/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-search"></i></div>
      <span>Find Location Domain</span>
    </a>
    <a href="{{ '/whois-lookup-free-domain-information-lookup-tool/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-link-45deg"></i></div>
      <span>Whois Lookup</span>
    </a>
    <a href="{{ '/internet-speed-test-check-your-download-upload-speed/' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-speedometer"></i></div>
      <span>Internet Speed Test</span>
    </a>
  </div>
</div>
<!-- Bottom Ad -->
<div class=" ad-section" style="visibility:hidden;">
  <div>Google Ad (Section)</div>
</div>
<!-- Keyword Tools Section -->
<div class="content-box keyword-tools">
  <h2 class="sub_headings">Text Analysis Tools</h2>
  <p class="sub_text">Find the right keywords to improve your search engine rankings.</p>
  <div class="tools-grid">
    <a href="" class="icon_sty">
      <div class="icon_placeholder"><i class="fas fa-key"></i></div>
      <span>Plagiarism Checker</span>
    </a>
    <a href="" class="icon_sty">
      <div class="icon_placeholder"><i class="fas fa-chart-line"></i></div>
      <span>Grammar Spell Checker</span>
    </a>
    <a href="#" class="icon_sty">
      <div class="icon_placeholder"><i class="fas fa-bullseye"></i></div>
      <span>Keyword Planner</span>
    </a>
    <a href="#" class="icon_sty">
      <div class="icon_placeholder"><i class="fas fa-list-ol"></i></div>
      <span>Rank Tracker</span>
    </a>
  </div>
</div>
<!-- Bottom Ad -->
<div class="ad-section" style="visibility:hidden;">
  <div>Google Ad (Section)</div>
</div>
<!-- Management Tools Section -->
<div class="content-box management-tools">
  <h2 class="sub_headings">Website SEO & Performance Tools</h2>
  <p class="sub_text">Test and improve your website with our free SEO and performance tools. Check site speed, mobile-friendliness, backlinks, and run a full SEO audit to optimize your rankings.</p>
  <div class="tools-grid">
    <a href="{{ 'slugify-url-generator-create-seo-friendly-urls-permalinks' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-hash"></i></div>
      <span>Slugify URL or Permalinks Link generator </span>
    </a>
    <a href="{{ 'page-speed-test-analyze-website-performance' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-speedometer2"></i></div>
      <span>Page Speed Test</span>
    </a>
    <a href="{{ 'web-page-size-checker-analyze-website-file-size' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-file-earmark-text"></i></div>
      <span>Website File Size Checker</span>
    </a>
    <a href="{{ 'website-page-snooper-view-and-copy-html-code-from-any-website' | relative_url }}" class="icon_sty">
      <div class="icon_placeholder"><i class="bi bi-terminal"></i></div>
      <span>Website Page Snooper</span>
    </a>
  </div>
</div>
</div>